[submodule "peercaststation"]
	path = peercaststation
	url = https://github.com/kumaryu/peercaststation.git
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
